body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

main {
    padding: 20px;
}

.book-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book h2 {
    margin-top: 0;
}

.book p {
    margin: 5px 0;
}
